<h1>Add a animal:</h1>


<%= form_for @animal do |f| %>

  Title
  <%= f.text_field :breed %><br>

  Year
  <%= f.text_field :color %><br>

  Director
  <%= f.text_field :size %><br>

  Starring
  <%= f.text_field :age %><br>



  <%= f.submit "submit" %>
<% end %>
