<h1>Add a animal:</h1>


<%= form_tag("/pass_spca/create", method: "post") do %>
<%= label_tag(:q, "Please Enter The Following: Breed, color, size,age") %><br>
      Enter Breed: <%= text_field_tag(:breed) %><br>
      Enter Color: <%= text_field_tag(:color) %><br>
      Enter Size:  <%= text_field_tag(:color) %><br>
      Enter Age:    <%= text_field_tag(:color) %><br>

      <%= submit_tag("Submit") %>
    <% end %>
